<div class="node" data-node-id={{id}}>
    <div class="none-toolbar">
        <div class="node-title {{schema.NodeBlockType}}">
            <div class="node-type {{schema.NodeBlockType}}"></div> {{schema.FriendlyName}}
        </div>
        <div class="node-toolbar-icon delete-node no-drag">
            <i class="fas fa-times"></i>
        </div>
    </div>

    <div class="node-parameters">
        <div class="node-parameter-container in">
            {{#if schema.CanBeExecuted}}
                <div class="node-parameter execution">
                    <div class="dot"></div>
                    <!-- in -->
                </div>
            {{/if}}
            {{#eachProperty schema.InParameters}}
                <div class="node-parameter {{normalize value.ValueType}}" data-parameter-name="{{value.Name}}">
                    <div class="dot"></div>
                    {{value.Name}}
                </div>
            {{/eachProperty}}
        </div>
        <div class="node-parameter-container out">
             {{#if schema.CanExecute}}
                <div class="node-parameter execution">
                    <div class="dot"></div>
                    <!-- out -->
                </div>
            {{/if}}
            {{#eachProperty schema.OutParameters}}
                <div class="node-parameter {{normalize value.ValueType}}" data-parameter-name="{{value.Name}}">
                    {{#if value.IsReference}}
                        <div class="dot reference"></div>
                    {{else}}
                        <div class="dot"></div>
                    {{/if}}
                    {{value.Name}}
                    {{#isParameterIsEditable value.ValueType}}
                        {{#ifEquals ../schema.NodeBlockType "variable"}}
                            <div>
                                {{#ifEqualsNormalize value.ValueType "system-string"}}
                                    {{#isSecretInput ../schema.IDEParameters}}
                                        <input type="password" class="parameter-value-input" placeholder="..." spellcheck="false" no-drag="true" />
                                    {{else}}
                                        {{#isScriptInput ../schema.IDEParameters}}
                                            <div class="script-editor" no-drag="true"></div>
                                        {{else}}
                                            <textarea spellcheck="false"  placeholder="..." class="parameter-value-input textarea" rows="5" no-drag="true"></textarea>
                                        {{/isScriptInput}}
                                    {{/isSecretInput}}
                                {{else}}
                                    <input type="text" class="parameter-value-input" placeholder="..." spellcheck="false" no-drag="true" />
                                {{/ifEqualsNormalize}}
                            </div>
                        {{/ifEquals}}
                    {{/isParameterIsEditable}}
                </div>
            {{/eachProperty}}
        </div>
    </div>
    <div class="special-actions">
        {{#each schema.SpecialActionsAttributes as |action|}}
            {{#ifEquals action.Type "open_url"}}
                <div class="btn-classic" onclick="javascript: window.open('{{action.Parameter}}')">
                    {{action.Text}}
                </div>
            {{/ifEquals}}
        {{/each}}
    </div>
</div>