<div class="group-item">
    <div class="group-title" data-toolbox-group="{{groupName}}">
        {{#ifEquals groupName "Blockchain.Ethereum"}}
        <i class="fab fa-ethereum"></i>
        {{/ifEquals}}
        {{#ifEquals groupName "Time"}}
        <i class="fas fa-clock"></i>
        {{/ifEquals}}
        {{#ifEquals groupName "Log"}}
        <i class="fas fa-terminal"></i>
        {{/ifEquals}}
        {{#ifEquals groupName "HTTP"}}
        <i class="fas fa-cloud"></i>
        {{/ifEquals}}
        {{#ifEquals groupName "Math"}}
        <i class="fas fa-calculator"></i>
        {{/ifEquals}}
        {{#ifEquals groupName "Storage"}}
        <i class="fas fa-database"></i>
        {{/ifEquals}}
        {{#ifEquals groupName "Twitter"}}
        <i class="fab fa-twitter"></i>
        {{/ifEquals}}
        {{#ifEquals groupName "Discord"}}
        <i class="fab fa-discord"></i>
        {{/ifEquals}}
        {{#ifEquals groupName "Telegram"}}
        <i class="fas fa-paper-plane"></i>
        {{/ifEquals}}
        {{#ifEquals groupName "Base Variable"}}
        <i class="fas fa-circle"></i>
        {{/ifEquals}}
        {{#ifEquals groupName "Common"}}
        <i class="fas fa-th-large"></i>
        {{/ifEquals}}
        {{#ifEquals groupName "JSON"}}
        <i class="fas fa-list"></i>
        {{/ifEquals}}
        {{#ifEquals groupName "String"}}
        <i class="fas fa-font"></i>
        {{/ifEquals}}
        {{#ifEquals groupName "SMTP"}}
        <i class="fas fa-envelope-open"></i>
        {{/ifEquals}}
        {{#ifEquals groupName "Binance"}}
        <i class="fas fa-exchange-alt"></i>
        {{/ifEquals}}
        {{#ifEquals groupName "Blockchain.BSC"}}
        <i class="fas fa-share-alt-square"></i>
        {{/ifEquals}}
        {{#ifEquals groupName "PancakeSwap"}}
        <i class="fas fa-exchange-alt"></i>
        {{/ifEquals}}
        {{#ifEquals groupName "Uniswap"}}
        <i class="fas fa-exchange-alt"></i>
        {{/ifEquals}}
        {{#ifEquals groupName "CoinGecko"}}
        <i class="fas fa-coins"></i>
        {{/ifEquals}}
        {{#ifEquals groupName "Base Condition"}}
        <i class="fas fa-code-branch"></i>
        {{/ifEquals}}
        {{#ifEquals groupName "Range Condition"}}
        <i class="fas fa-code-branch"></i>
        {{/ifEquals}}
        {{#ifEquals groupName "CSV"}}
        <i class="fas fa-table"></i>
        {{/ifEquals}}
        {{#ifEquals groupName "Data"}}
        <i class="fas fa-database"></i>
        {{/ifEquals}}
        {{#ifEquals groupName "Charting"}}
        <i class="fas fa-chart-line"></i>
        {{/ifEquals}}
        {{#ifEquals groupName "Blockchain.Bitcoin"}}
        <i class="fab fa-bitcoin"></i>
        {{/ifEquals}}
        {{#ifEquals groupName "PushOver"}}
        <i class="fa fa-comment"></i>
        {{/ifEquals}}
        {{#ifEquals groupName "PushBullet"}}
        <i class="fa fa-comment-alt"></i>
        {{/ifEquals}}
        {{#ifEquals groupName "Function"}}
        <i class="fas fa-running"></i>
        {{/ifEquals}}
        {{#ifEquals groupName "Ethereum Managed Wallet"}}
        <i class="fab fa-ethereum"></i>
        {{/ifEquals}}
        {{#ifEquals groupName "Transformers"}}
        <i class="fas fa-running"></i>
        {{/ifEquals}}
        {{#ifEquals groupName "LiveCoinWatch"}}
        <i class="fas fa-coins"></i>
        {{/ifEquals}}
        {{#ifEquals groupName "Bitfinex"}}
        <i class="fas fa-exchange-alt"></i>
        {{/ifEquals}}
        {{#ifEquals groupName "Bittrex"}}
        <i class="fas fa-exchange-alt"></i>
        {{/ifEquals}}
        {{#ifEquals groupName "Kraken"}}
        <i class="fas fa-exchange-alt"></i>
        {{/ifEquals}}
        {{#ifEquals groupName "KuCoin"}}
        <i class="fas fa-exchange-alt"></i>
        {{/ifEquals}}
        {{#ifEquals groupName "MXC"}}
        <i class="fas fa-exchange-alt"></i>
        {{/ifEquals}}
        {{#ifEquals groupName "CoinEx"}}
        <i class="fas fa-exchange-alt"></i>
        {{/ifEquals}}
        {{#ifEquals groupName "Huobi"}}
        <i class="fas fa-exchange-alt"></i>
        {{/ifEquals}}
        {{#ifEquals groupName "Blockchain.Polygon"}}
        <i class="fas fa-share-alt-square"></i>
        {{/ifEquals}}
        {{#ifEquals groupName "Blockchain.Elrond"}}
        <i class="fas fa-share-alt-square"></i>
        {{/ifEquals}}
        {{#ifEquals groupName "Blockchain.Ethereum.ERC20"}}
        <i class="fab fa-ethereum"></i>
        {{/ifEquals}}
        {{#ifEquals groupName "Blockchain.Ethereum.NFT"}}
        <i class="fab fa-ethereum"></i>
        {{/ifEquals}}
        {{#ifEquals groupName "Blockchain.BSC.BEP20"}}
        <i class="fas fa-share-alt-square"></i>
        {{/ifEquals}}
        {{#ifEquals groupName "Blockchain.Avalanche"}}
        <i class="fas fa-share-alt-square"></i>
        {{/ifEquals}}
        {{#ifEquals groupName "Lua Scripting"}}
        <i class="fas fa-file-alt"></i>
        {{/ifEquals}}
        {{#ifEquals groupName "Unicrypt"}}
        <i class="fas fa-exchange-alt"></i>
        {{/ifEquals}}
        {{#ifEquals groupName "Santiment"}}
        <i class="fas fa-exchange-alt"></i>
        {{/ifEquals}}
        {{#ifEquals groupName "Rarible"}}
        <i class="fas fa-exchange-alt"></i>
        {{/ifEquals}}
        {{#ifEquals groupName "Quickswap"}}
        <i class="fas fa-exchange-alt"></i>
        {{/ifEquals}}
        {{#ifEquals groupName "Array"}}
        <i class="fas fa-layer-group"></i>
        {{/ifEquals}}
        {{#ifEquals groupName "Hosted API"}}
        <i class="fas fa-laptop-code"></i>
        {{/ifEquals}}
        {{#ifEquals groupName "Avalanche.SnowTrace"}}
        <i class="fas fa-snowflake"></i>
        {{/ifEquals}}
        {{#ifEquals groupName "Avalanche.Avascan"}}
        <i class="fas fa-snowflake"></i>
        {{/ifEquals}}
        {{#ifEquals groupName "GraphLinq.Analytics"}}
        <i class="fas fa-chart-area"></i>
        {{/ifEquals}}
        {{#ifEquals groupName "Dictionary"}}
        <i class="fas fa-book"></i>
        {{/ifEquals}}
        {{#ifEquals groupName "Twitch"}}
        <i class="fab fa-twitch"></i>
        {{/ifEquals}}
        {{#ifEquals groupName "OpenAI"}}
        <i class="fas fa-robot"></i>
        {{/ifEquals}}
        {{#ifEquals groupName "Machine Learning"}}
        <i class="fas fa-atom"></i>
        {{/ifEquals}}
        {{#ifEquals groupName "Steam"}}
        <i class="fab fa-steam"></i>
        {{/ifEquals}}
        {{#ifEquals groupName "WebSocket"}}
        <i class="fas fa-plug"></i>
        {{/ifEquals}}
        {{#ifEquals groupName "Shorten URL"}}
        <i class="fas fa-link"></i>
        {{/ifEquals}}
        {{#ifEquals groupName "Uniswap v3"}}
        <i class="fas fa-exchange-alt"></i>
        {{/ifEquals}}
        {{groupName}}
        <div class="expand" id="expand-{{groupName}}">
            <i class="fas fa-chevron-down"></i>
        </div>
    </div>
    <div class="group-node-container" id="group-node-{{groupName}}">
        {{#each items as |item|}}
            <div class="group-node-item" data-toolbox-node-type="{{item.NodeType}}" data-name="{{item.FriendlyName}}">
                {{item.FriendlyName}}
                <div class="node-type {{item.NodeBlockType}}"></div>
                <div class="node-description">
                    {{item.NodeDescription}}
                </div>
            </div>
        {{/each}}
    </div>
</div>